.container {
  width: 100%;
  height: 400px;
  min-height: calc(100vh - 60px);
  background: var(--colorWhite);
  box-shadow: 0 0 0 1px var(--colorF0);
  border-radius: 8px;
  display: flex;
  position: relative;
  overflow: hidden;

  &.isFullScreen {
    position: fixed;
    border-radius: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--zIndex9);
  }
}

.videoPanel {
  flex: 1;
}

.contentPanel {
  min-width: 360px;
  max-width: 360px;
  border-left: 1px solid var(--colorF0);
  display: flex;
  flex-direction: column;

  &.isCollapsed {
    .collapseIcon {
      svg {
        transform: scaleY(-1);
      }
    }

    .info {
      .collapseText {
        display: block;
      }
    }

    .message {
      flex: 1;
    }

    .discountCode {
      opacity: 0;
      visibility: hidden;
    }

    .product {
      opacity: 0;
      visibility: hidden;
    }
  }

  .message {
    flex: 1;
  }

  .info {
    position: relative;
    border-top: 1px solid var(--colorF0);

    .collapseText {
      height: 50px;
      line-height: 56px;
      cursor: pointer;
      display: none;
      text-align: center;
      width: 100%;
      color: var(--colorPrimary);
      font-weight: var(--fontSemiBold);
    }

    .collapseIcon {
      width: 28px;
      height: 28px;
      cursor: pointer;
      position: absolute;
      z-index: var(--zIndex9);
      border-bottom: 1px solid var(--colorF0);
      box-shadow: 0 0 0 2px var(--colorWhite) inset, 0 0 0 3px var(--colorF0) inset;
      background: var(--colorWhite);
      border-radius: 50%;
      top: 0;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);

      svg {
        width: 10px;
        fill: var(--colorPrimary);
        transition: var(--transitionNormal);
      }
    }

    .discountCode {
      height: 150px;
      transition: var(--transitionNormal);
    }

    .product {
      transition: var(--transitionNormal);
      border-top: 1px solid var(--colorF0);
      height: 150px;
    }
  }
}

.fullScreenButton {
  width: calc(100% - 360px);
  height: 100px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: var(--zIndex5);

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */

  /* FF3.6-15 */
  background: linear-gradient(to top, rgb(0 0 0 / 65%) 0%, rgb(0 0 0 / 0%) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(0 0 0 / 65%) 0%,
    rgb(0 0 0 / 0%) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:dximagetransform.microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  svg {
    fill: var(--colorWhite);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 20px;
    top: 20px;
  }
}
