.container {
  width: 100%;
  min-height: calc(100vh - 50px);

  .desktopHeading {
    height: 76px;
    line-height: 76px;
    font-weight: var(--fontSemiBold);
    font-size: 18px;
    color: var(--color20);
    padding: 0 20px;
  }

  .clientArea {
    padding: 0 20px;
    margin-bottom: 76px;

    .formPasswordUpdate {
      margin-top: 23px;

      .noDisplay {
        display: none;
      }
    }
  }

  .bottomPanel {
    position: relative;
    background: var(--colorWhite);
    width: 100%;
    padding: 0 20px;
    left: 0;
    bottom: 0;
    margin-top: 30px;
  }
}
