.orderNavigation {
  margin-bottom: 10px;
}

.listNav {
  margin-bottom: 10px;
}

.mainContainer {
  overflow: hidden;
  border-radius: 8px;
}

.mainContainerColor {
  background: var(--colorWhite);
}
