.gwpDetailContainer {
  margin: 30px 0 44px;
  display: flex;
  flex-direction: column;

  .topSection {
    width: 100%;
    display: flex;

    .topLeftSection {
      width: 58.35%;

      .banner {
        width: 100%;
        padding-bottom: 75%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .topRightSection {
      width: 41.65%;
      padding: 0 0 0 76px;

      .schemeTitle {
        font-size: 20px;
        font-weight: var(--fontSemiBold);
        color: var(--color20);
      }

      .info {
        margin-top: 8px;
        font-size: 24px;
        font-weight: var(--fontBold);
        color: var(--colorPrimary);
      }

      .countdownSection {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .countdownTitle {
          font-size: 18px;
          font-weight: var(--fontSemiBold);
          color: var(--color20);
        }

        .countdown {
          margin-left: 26px;
          flex-shrink: 0;
          min-width: 0 !important;

          .segment {
            width: 60px !important;
            height: 60px !important;
            border-radius: 16px;
          }

          .segmentValue {
            position: initial !important;
            line-height: initial !important;
            display: flex;
            align-items: flex-end;
            justify-content: center;
          }

          .segmentName {
            position: initial !important;
            line-height: initial !important;
            display: flex;
            justify-content: center;
          }
        }
      }

      .description {
        margin-top: 16px;
        font-size: 16px;
        font-weight: var(--fontRegular);
        color: var(--color20);
      }

      .giftIndexSection {
        margin-top: 16px;

        .giftIndexTitle {
          font-size: 16px;
          font-weight: var(--fontRegular);
          color: var(--color20);

          span {
            font-size: inherit;
            font-weight: var(--fontBold);
            color: inherit;
          }
        }

        .giftIndex {
          margin-top: 8px;
          border-radius: 8px;
          border: 1px solid var(--colorE4);
          padding: 4px 16px;

          $maxRowHeight: 6em;
          $maxRowsToDisplay: 3;

          grid-auto-rows: minmax(min-content, max-content);
          max-height: calc(#{$maxRowHeight} * #{$maxRowsToDisplay});
          overflow-y: auto;

          .gift {
            padding: 8px 0;

            &:not(:last-child) {
              border-bottom: 1px solid var(--colorE4);
            }
          }
        }
      }

      .warningMessage {
        margin-top: 32px;
        font-size: 20px;
        font-weight: var(--fontSemiBold);
        color: var(--colorRed);
      }

      .suggestion {
        margin-top: 32px;
        font-size: 16px;
        font-weight: var(--fontRegular);
        color: var(--color8A);

        .suggestionTitle {
          font-size: inherit;
          font-weight: inherit;
          color: inherit;
          white-space: nowrap;
        }

        .suggestionContent {
          font-size: inherit;
          font-weight: inherit;
          color: inherit;
          text-decoration: underline;
          margin-left: 5px;
        }
      }

      .coupon {
        margin-top: 24px;
      }

      .buttonContainer {
        margin-top: 12px;
        width: 100%;

        .button {
          margin-bottom: 0;
        }
      }
    }
  }

  .bottomSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .termsSection {
      margin-top: 40px;

      .termsHeader {
        font-size: 18px;
        font-weight: var(--fontBold);
        color: var(--color20);
      }

      .terms {
        margin-top: 8px;
        margin-left: 10px;
        font-size: 16px;
        font-weight: var(--fontRegular);
        color: var(--color20);
      }
    }

    .hotDealsSection {
      margin-top: 20px;
    }

    .bestSellingBoxesSection {
      margin-top: 0;
    }

    .exclusiveBoxesSection {
      margin-top: 0;
    }

    .giftBoxesSection {
      margin-top: 0;
    }

    .productListHeading {
      margin-left: -10px;
    }
  }
}

.noContentPlaceholder {
  padding: 100px 0;
}
