.userAddressSelector {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 270px;
  padding: 2px 12px 0 2px;
  scrollbar-width: thin !important;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    display: block;
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: #e1e2e3;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: 0 0 0 4px #e1e2e3 inset, 0 0 0 7px #666 inset;
    border-radius: 10px;
    border: none;
  }

  .entry {
    width: calc(50% - 6px);
    margin-bottom: 14px;

    &:nth-child(odd) {
      margin-right: 6px;
    }

    &:nth-child(even) {
      margin-left: 6px;
    }
  }

  .addAddressSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px dashed var(--colorDB);
    border-radius: 8px;
    cursor: pointer;

    .icon {
      width: 26px;
      height: 26px;

      svg {
        fill: var(--color20);
      }
    }

    .title {
      font-weight: var(--fontLight);
      font-size: 14px;
      color: var(--color20);
      margin-top: 10px;
    }
  }
}

.addressFormModal {
  min-width: 400px;

  .addressFormModalForm {
    padding-bottom: 70px;
  }
}

.regionSelectorModal {
  display: flex;
  min-width: 400px;
  height: 90vh;
}
