.invoiceBlock {
  display: flex;
  flex-direction: column;
  background-color: var(--colorWhite);
  padding: 19px 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: var(--transitionBoxShadow);
  border-radius: 8px;
  border: 1px solid var(--colorE4);

  .header {
    display: flex;
    align-items: center;

    .status {
      flex: 0 0 1px;

      .icon {
        width: 18px;
        height: 18px;

        svg {
          fill: var(--color20);
        }
      }
    }

    .title {
      font-weight: var(--fontSemiBold);
      font-size: 12px;
      color: var(--color20);
      margin-left: 12px;
    }

    .action {
      margin-left: auto;
      padding-left: 15px;
      font-weight: var(--fontSemiBold);
      font-size: 13px;
      color: var(--color8A);
    }
  }

  .preview {
    margin: 4px 30px 0;

    .segment {
      margin-top: 9px;
      font-weight: var(--fontLight);
      font-size: 14px;
      color: var(--color20);
    }
  }
}

.invoiceModal {
  margin-bottom: 70px;

  .body {
    padding: 21px 16px;

    .entryTitle {
      margin-bottom: 10px;
      font-weight: var(--fontSemiBold);
      font-size: 14px;
      color: var(--color20);
    }

    .entry {
      background-color: var(--colorF5);
      border-radius: 8px;
      border: none;
      padding: 14px 15px;
      width: 100%;
      font-weight: var(--fontLight);
      font-size: 14px;
      color: var(--color20);
      resize: none;

      &::placeholder {
        color: var(--color8E);
      }
    }
  }

  .primaryButton {
    // TODO: Remove `important`. Dependency: SubmitButton (inline style removal required)
    background-color: var(--color3E) !important;
  }
}

.blockError {
  background-color: var(--colorPinkFE29);
}
