.codSuggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorWhite);
  padding: 22px 16px 25px;

  .title {
    font-weight: var(--fontSemiBold);
    font-size: 18px;
    color: var(--color20);
  }

  .brief {
    font-weight: var(--fontLight);
    font-size: 14px;
    color: var(--color20);
    margin-top: 11px;
  }
}
