.container {
  width: 100%;
  padding: 20px;

  .title {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 3px;
  }

  .description {
    font-size: 18px;
    line-height: 26px;
    font-weight: var(--fontBold);

    @media only screen and (width >= 960px) {
      font-size: 26px;
      line-height: 32px;
    }
  }
}
