.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--colorWhite);
  height: 100%;

  &.desktopLayout {
    .info {
      .content {
        font-size: 16px;
      }
    }
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 22.5px;

    .author {
      font-size: 20px;
      font-weight: var(--fontBold);
      color: var(--color20);
    }

    .rating {
      margin-top: 4px;

      .star {
        width: 16px;
        height: 16px;
      }
    }

    .content {
      margin-top: 16px;
      font-size: 14px;
      font-weight: var(--fontRegular);
      color: var(--color20);
      text-align: center;
    }
  }
}
