$modalHeadingHeight: 52px;

.actionButtonIcon {
  svg {
    fill: var(--color20) !important;
  }
}

.pictureListModal {
  padding: 16px 10px 10px 16px;

  .panel {
    width: calc(100% + 10px);
    display: flex;
    flex-wrap: wrap;
  }

  &.isFullScreen {
    position: absolute;
    z-index: var(--zIndexMax);
    width: 100vw;
    height: calc(var(--wh) - 60px - $modalHeadingHeight - var(--sticky-top-banner-height, 0px));
    background: var(--color20);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    .panel {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      overflow: scroll hidden;
      scroll-snap-type: x mandatory;

      .pictureItem {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        display: inline-flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        scroll-snap-align: center;

        .pictureItemInner {
          border-radius: 0;
          height: 100%;
          position: relative;
          padding: 0;

          img {
            display: block;
            object-fit: contain;
          }
        }
      }
    }
  }

  &.pictureListModal {
    .pictureItem {
      width: calc((100% - 18px) / 3);
      max-width: calc((100% - 18px) / 3);
      margin-left: 3px;
      margin-right: 3px;
      margin-bottom: 6px;

      .pictureItemInner {
        width: 100%;
        padding-top: 100%;
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--colorED);
  margin: 16px 0;
}

.pictureList {
  width: 100%;
  padding-bottom: 22px;

  .panel {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin-left: -5px;
  }

  .heading {
    font-weight: var(--fontBold);
    font-size: 16px;
    color: var(--colro20);
    line-height: 20px;
    height: 20px;
    margin-bottom: 10px;
  }

  .pictureItem {
    margin: 0 5px;
    width: calc((100% - 50px) / 5);
    max-width: calc((100% - 50px) / 5);

    .pictureItemInner {
      width: 100%;
      padding-top: 100%;
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;
    }

    .pictureItemInner img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .pictureItemInner div {
    font-weight: var(--fontBold);
    font-size: 16px;
    color: var(--colorWhite);
    text-align: center;
    background: var(--colorBlack05);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    line-height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
