.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: var(--zIndex7);

  .title {
    font-weight: var(--fontSemiBold);
    font-size: 22px;
    color: var(--color20);
    min-height: 60px;
    line-height: 40px;
    padding: 10px 0;
    text-transform: uppercase;
    flex: 1;
  }
}

.statInfoContainerStatInfoSortItemList {
  padding: 0 20px 0 0;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--colorF7);
    color: var(--colorPink);
  }
}

.statInfoContainerStatInfoIconWithoutText {
  border: 1px solid var(--colorD2);
  height: 32px;
  width: 32px;
  min-width: 32px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 3px;

  &:hover {
    background-color: var(--colorF7);
  }
}

.statInfoContainerStatInfoSortText {
  @media screen and (width >= 610px) {
    display: none;
  }
}

.statInfoContainerStatInfoSortItemTitleSelected {
  @media screen and (width >= 610px) {
    display: block;
  }
}

.statInfoContainerStatInfoSortItemSelected {
  @media screen and (width >= 610px) {
    padding: 0 15px 0 0;
  }
}
