.addonSlider {
  display: flex;
  flex-direction: column;
  background-color: var(--colorWhite);
  margin-bottom: 16px;

  .titleSection {
    font-weight: var(--fontSemiBold);
    font-size: 22px;
    text-transform: uppercase;
    color: var(--color20);
    margin: 34px 0 28px 21px;
    display: flex;
    align-items: center;
  }

  .sliderSection {
    padding: 0 16px;
  }

  .infoIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;

    svg {
      width: 18px;
    }
  }
}
