.pricePanel {
  position: absolute;
  z-index: var(--zIndex9);
  top: 65px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: var(--transitionNormal);

  &.withBrandsPanel {
    left: 192px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: var(--transitionNormal);
    background-color: transparent;
  }

  .priceList {
    width: 100%;
    padding: 30px 34px;
    background-color: var(--colorWhite);
    transform: scaleY(0);
    transform-origin: top;
    transition: var(--transitionNormal);
    box-shadow: 0 2px 20px rgb(0 0 0 / 20%);
    border: 1px solid var(--colorE8);
    border-radius: 8px;
  }

  &.isOpen {
    opacity: 1;
    visibility: visible;

    .overlay {
      opacity: 1;
    }

    .priceList {
      transform: scaleY(1);
    }
  }
}

.priceRange {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;

  .suffix {
    padding: 0 0 0 2px;
  }

  .priceRangeSeparate {
    width: 10px;
    height: 1px;
    background: var(--color3E);
    margin: 0 8px;
  }
}

.selectList {
  max-height: 300px;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 16px;

  .selectListItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;

      svg {
        width: 20px;
        fill: var(--color20);
      }
    }

    .title {
      font-weight: var(--fontLight);
      font-size: 14px;
      line-height: 34px;
      color: var(--color20);
    }
  }
}

.action {
  padding-top: 25px;
  border-top: 1px solid var(--colorE4);
  display: flex;
}
