.paymentMethodEntry {
  margin-bottom: 10px;
  padding: 15px 9px 12px 14px;
  border: 1px solid var(--colorE8);
  border-radius: 8px;
  cursor: pointer;

  .header {
    display: flex;
    align-items: center;

    .iconContainer {
      flex: 0 0 32px;
      height: 32px;

      .icon {
        max-width: 32px;
        max-height: 32px;
      }
    }

    .title {
      font-weight: var(--fontSemiBold);
      font-size: 14px;
      color: var(--color20);
      margin-left: 12px;
    }
  }

  .brief {
    margin: 10px 0 11px 44px;

    .description {
      font-weight: var(--fontLight);
      font-size: 13px;
      line-height: 19px;
      color: var(--color20);
    }

    .notification {
      font-weight: var(--fontSemiBold);
      font-size: 13px;
      line-height: 18px;
      color: var(--colorPrimary);
    }
  }
}

.paymentMethodEntrySelected {
  box-shadow: 0 0 0 1.5px var(--colorBlue5E);
}

.paymentMethodEntryDisabled {
  background-color: var(--colorF5);
  box-shadow: none;

  .header,
  .brief .description {
    filter: opacity(0.5);
  }
}

.paymentMethodBlock {
  display: flex;
  flex-direction: column;
  background-color: var(--colorWhite);
  padding: 12px 16px;
  cursor: pointer;
  transition: var(--transitionBoxShadow);

  .header {
    display: flex;
    align-items: center;

    .status {
      flex: 0 0 1px;

      .icon {
        width: 20px;
        height: 20px;

        svg {
          fill: var(--color20);
        }
      }
    }

    .title {
      font-weight: var(--fontSemiBold);
      flex: 1;
      font-size: 14px;
      color: var(--color20);
      margin-left: 12px;
    }

    .action {
      padding-left: 15px;
      font-weight: var(--fontSemiBold);
      font-size: 13px;
      color: var(--color8A);

      .icon {
        width: 9px;
        height: 15px;

        svg {
          fill: var(--color20);
        }
      }
    }
  }

  .brief {
    margin: 4px 32px 0;
    font-size: 14px;

    .header {
      font-weight: var(--fontSemiBold);
      color: var(--color20);
      margin-bottom: 5px;
    }

    .preview {
      font-weight: var(--fontLight);
      color: var(--color20);
    }

    .hint {
      font-weight: var(--fontSemiBold);
      color: var(--colorPrimary);
    }
  }
}

.paymentMethodModal {
  .body {
    padding: 14px 16px 6px;

    .hint {
      font-weight: var(--fontLight);
      font-size: 13px;
      color: var(--color8A);
      margin-bottom: 10px;
    }

    .entry {
      background-color: var(--colorF5);
      border-radius: 8px;
      border: none;
      padding: 14px 15px;
      width: 100%;
      font-weight: var(--fontLight);
      font-size: 14px;
      color: var(--color20);
      resize: none;

      &::placeholder {
        color: var(--color8E);
      }
    }
  }

  .primaryButton {
    // TODO: Remove `important`. Dependency: SubmitButton (inline style removal required)
    background-color: var(--color3E) !important;
  }
}

.blockError {
  background-color: var(--colorPinkFE29);
}
