.container {
  display: flex;
  flex-direction: column;

  .banner {
    border-radius: 8px;
    width: 100%;
    padding-bottom: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .countdownSection {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .countdownTitle {
      align-self: center;
      font-size: 14px;
      font-weight: var(--fontSemiBold);
      color: var(--color20);
    }

    .countdown {
      margin-top: 12px;
      justify-content: center;

      .segment {
        width: 60px !important;
        height: 60px !important;
        border-radius: 16px;
      }
    }
  }

  .title {
    margin-top: 16px;
    font-size: 20px;
    font-weight: var(--fontBold);
    color: var(--color20);
  }

  .info {
    font-size: 18px;
    font-weight: var(--fontBold);
    color: var(--colorPrimary);
    margin-top: 3px;
  }

  .description {
    margin-top: 10px;
    font-size: 15px;
    font-weight: var(--fontRegular);
    color: var(--color20);
  }

  .couponSection {
    margin-top: 24px;
  }

  .button {
    margin-top: 16px;
    margin-bottom: 0;
  }
}
