.container {
  position: fixed;
  top: calc(100px + var(--sticky-top-banner-height, 0px));
  left: 0;
  height: 70px;
  background-color: var(--colorWhite);
  box-shadow: var(--shadowBlurSort);
  width: 100%;
  z-index: var(--zIndex9);
  transition: var(--transitionTransform);
  transform: translate3d(0, -100px, 0);
  visibility: hidden;
}

.containerVisible {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
