.container {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--colorBlack05);

  .navLink {
    font-size: 16px;
    font-weight: var(--fontSemiBold);
    margin-bottom: 15px;
    color: var(--colorBlue);
  }
}
