.refereeSchemeDetailModalDesktop {
  width: 400px;
  overflow: auto;
}

.refereeSchemeDetail {
  display: flex;
  flex-direction: column;
  margin: 16px 24px;
  padding-bottom: calc(16px + 70px);

  .placeholder {
    margin: 20px 0 50px;

    .logo {
      fill: var(--colorE9);
    }
  }

  .referralCode {
    .button {
      margin-bottom: 0;
    }
  }

  .offerTitle {
    margin-top: 20px;
    color: var(--color20);
    font-size: 13px;
    font-weight: var(--fontLight);

    span {
      font-weight: var(--fontBold);
    }
  }

  .timeline {
    margin-top: 10px;
    font-size: 13px;
    font-weight: var(--fontRegular);
    color: var(--colorYellow);
  }

  .timelineExpired {
    color: var(--colorPinkFE);
    font-size: 13px;
    font-weight: var(--fontSemiBold);
  }

  .referralSchemeConditions {
    margin-top: 28px;
  }
}

.refereeSchemeDetailNoButton {
  padding-bottom: 0;
}

.primaryButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 10px rgb(0 0 0 / 8%);
  position: fixed;
  bottom: 0;
  background-color: var(--colorWhite);
  width: 100%;

  .primaryButton {
    margin: 13px 16px;
  }
}
