.container {
  width: 100%;
}

.title {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color20);
  font-weight: var(--fontSemiBold);
  line-height: 32px;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
}

.viewMoreTitle {
  font-size: 13px;
  font-weight: var(--fontSemiBold);
  color: var(--color8A);
  text-transform: none;
  display: flex;
}

.priceRange {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.priceRangeSeparate {
  width: 10px;
  height: 1px;
  background: var(--color3E);
  margin: 0 8px;
}

.panel {
  padding: 14px 16px;
  margin-bottom: 8px;
}

.panelContent {
  /* empty content */
}

.selectList {
  display: flex;
  flex-wrap: wrap;
}

.selectList.column {
  justify-content: space-between;
}

.selectListItem {
  color: var(--color20);
  font-weight: var(--fontRegular);
  padding: 0 14px;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  border-radius: 8px;
  background: var(--colorF5);
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 100%;
}

.selectListItem .itemTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.selectListItem.selected {
  background: var(--color3E);
  color: var(--colorWhite);
}

.selectListItem.selected span {
  font-weight: var(--fontBold);
}

.selectListItem.column {
  width: calc(50% - 5px);
  margin-right: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.bottomPanel {
  padding: 16px 8px;
  box-shadow: 0 -2px 10px rgb(0 0 0 / 8%);
  display: flex;
  justify-content: space-between;
}

/*
  60 : 50 header navigation + 10 safe padding
  76 : 44 + 16 * 2 - bottom action
*/

.scrollViewContent {
  min-height: calc(var(--wh) - 60px - 76px);
  max-height: calc(var(--wh) - 60px - 76px);
  padding-top: 52px;
  overflow: scroll;
}

.scrollViewContentFixHeight {
  min-height: calc(var(--wh) - 60px - 76px);
  height: calc(var(--wh) - 60px - 76px);
}

.searchBrand {
  position: relative;
  margin-bottom: 20px;
}

.searchBrandIcon {
  position: absolute;
  top: 0;
  left: 0;
}

.searchBrandIcon svg {
  width: 16px;
  z-index: var(--zIndex2);
  fill: var(--color8E);
}

.viewmoreIcon {
  width: 12px;
  height: 32px;
}

.viewmoreIcon svg {
  width: 6px;
  fill: var(--color8A);
}
