.container {
  display: flex;
  flex-direction: column;
  background-color: var(--colorWhite);
  padding: 0 16px;
  box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 8%);
  bottom: 0;
  width: 100%;
  z-index: var(--zIndex5);

  .infoSection {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;

    .title {
      font-size: 14px;
      color: var(--color20);
      font-weight: var(--fontLight);
      line-height: 24px;
    }

    .content {
      font-size: 18px;
      color: var(--color20);
      font-weight: var(--fontSemiBold);
    }
  }
}

.sticky {
  position: fixed;
}
