.pricingBreakdown {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  background-color: var(--colorWhite);

  .breakdownSection {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
  }

  .highlightBlue {
    color: var(--colorBlue);
  }

  .highlightGreen {
    color: var(--colorGreenDark);
  }

  .emphasized {
    font-size: 18px;
    font-weight: var(--fontSemiBold);
  }

  .dashedDivider {
    border-bottom: 1px dashed var(--colorC5);
    margin: 10px 0;
  }

  .solidDivider {
    border-bottom: 1px solid var(--colorC5);
    margin: 10px 0;
  }
}

.cashbackAppliedLabel {
  display: flex;
  align-items: center;

  .checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;

    svg {
      fill: var(--color20);
    }
  }

  .checkboxDisabled {
    filter: grayscale(1) opacity(0.5);
    pointer-events: none;
  }

  .loader {
    width: 18px;
    height: 18px;
  }

  .label {
    margin-left: 8px;
    color: var(--color20);
    font-size: 14px;
    font-weight: var(--fontLight);
  }

  .labelDisabled {
    filter: grayscale(1) opacity(0.5);
  }

  .info {
    margin-left: 6px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    svg {
      fill: var(--color75);
    }
  }
}
