.container {
  &:active {
    opacity: 0.5;
  }

  &.clickable {
    cursor: pointer;
  }

  .innerContainer {
    justify-content: space-between;
    align-items: center;
    padding: calc(12px - 6px) calc(24px - 6px);

    &.centered {
      justify-content: center;
    }

    .content {
      font-size: 18px;
      font-weight: var(--fontSemiBold);
      color: var(--colorBlack);
      line-break: anywhere;
      margin-right: 12px;

      &.centered {
        margin-right: 0;
      }
    }

    .copyButton {
      width: 16px;
      height: 16px;
      min-width: 16px;

      svg {
        fill: var(--color20);
      }
    }
  }
}
