.container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.appleSigninButtonAsOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.confirmationModal {
  margin-bottom: 70px;
  min-width: 320px;

  .body {
    padding: 21px 16px 26px;

    .entryTitle {
      margin-bottom: 10px;
      font-weight: var(--fontRegular);
      font-size: 14px;
      color: var(--color20);
      text-align: center;
    }
  }

  .primaryButton {
    // TODO: Remove `important`. Dependency: SubmitButton (inline style removal required)
    background-color: var(--color3E) !important;
  }
}

.fallthroughCursorEvents {
  pointer-events: none;
}
