.addressEntry {
  margin-bottom: 10px;
  padding: 13px 9px 12px 15px;
  border: 1px solid var(--colorE8);
  border-radius: 8px;
  cursor: pointer;

  .header {
    display: flex;
    align-items: center;

    .iconContainer {
      flex: 0 0 17px;
      height: 17px;

      .icon {
        max-width: 17px;
        max-height: 17px;

        svg {
          fill: var(--color8A);
        }
      }

      .iconSelected svg {
        fill: var(--colorSecondaryBlue);
      }
    }

    .title {
      font-weight: var(--fontSemiBold);
      font-size: 14px;
      color: var(--color20);
      margin-left: 15px;
      margin-right: 10px;
    }

    .action {
      margin-left: auto;
      flex: 0 0 19px;
      height: 17px;

      .icon {
        width: 100%;
        height: 100%;

        fill: {
          color: var(--color20);
        }
      }
    }
  }

  .nonSelectableHeader {
    .iconContainer {
      display: none;
    }

    .title {
      margin-left: 0;
    }
  }

  .brief {
    margin: 9px 0 3px 32px;

    .description {
      font-weight: var(--fontLight);
      font-size: 13px;
      line-height: 19px;
      color: var(--color8A);
    }

    .tags {
      display: flex;
      margin-top: 6px;

      .tag {
        font-weight: var(--fontSemiBold);
        font-size: 12px;
        color: var(--colorBlue);
        background-color: var(--colorBlueE5F2);
        border-radius: 4px;
        padding: 2px 4px 2px 6px;
      }
    }
  }

  .nonSelectableBrief {
    margin-left: 0;
  }
}

.addressEntrySelected {
  box-shadow: 0 0 0 1.5px var(--colorBlue5E);
}
