.container {
  width: 100%;
  padding: 16px;

  .item {
    flex: 1;

    &:first-child {
      margin-bottom: 16px;
    }
  }

  .link {
    display: block;
    max-width: 100%;
  }

  img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
  }

  @media (width >= 1024px) {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .item {
      &:first-child {
        img {
          border-radius: 8px 0 0 8px;
        }
      }

      &:last-child {
        img {
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }
}
