.navigationLink {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  color: var(--colorBlack07);
  font-size: 18px;
  margin: 0 20px;
  transition: 0.5s color ease 0s;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    color: var(--colorPink);
  }
}

.searchDropdownListItem {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  padding: 0 30px 0 20px;
  color: var(--color97);
  white-space: nowrap;

  &:hover {
    color: var(--color2E);
  }
}

.searchSugestionRow {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background: var(--colorF7);
  }
}

.navigationNavLink {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  color: var(--colorBlack07);
  font-size: 18px;
  margin: 0 20px;
  transition: 0.5s color ease 0s;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    color: var(--colorPink);
  }
}

.searchSuggestionRow {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background: var(--colorF7);
  }
}

.searchButton {
  flex: 1;
  width: 60px;
  height: 40px;
  background-color: transparent;
  color: var(--color75);
  line-height: 40px;
  font-size: 18px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
  transition: var(--transitionColor);

  &:hover {
    color: var(--colorBlack);
  }
}
