.couponContainer {
  position: relative;
  display: flex;
}

.coupon {
  display: flex;
  margin: 6px;
  width: 100%;
}

.couponTop {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 6px);
  height: 6px;
  background-size: 12px 6px;
  background-position: 9px 0;
  background-repeat: repeat-x;
}

.couponTopSolid {
  width: calc(100% - 12px);
  margin-left: 6px;
}

.couponRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-size: 6px 12px;
  background-position: 0 9px;
  background-repeat: repeat-y;
}

.couponRightSolid {
  height: calc(100% - 12px);
  margin-top: 6px;
}

.couponBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 6px);
  height: 6px;
  background-size: 12px 6px;
  background-position: 9px 0;
  background-repeat: repeat-x;
}

.couponBottomSolid {
  width: calc(100% - 12px);
  margin-left: 6px;
}

.couponLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: calc(100% - 6px);
  background-size: 6px 12px;
  background-position: 0 9px;
  background-repeat: repeat-y;
}

.couponLeftSolid {
  height: calc(100% - 12px);
  margin-top: 6px;
}
