.mobileConfirmation {
  display: flex;
  flex-direction: column;

  .prompt {
    font-weight: var(--fontRegular);
    font-size: 14px;
    color: var(--color20);
    margin: 20px 16px 10px;
    text-align: center;
  }

  .content {
    display: flex;
  }

  .confirmationButton {
    margin: 0 16px;
  }
}

.mobileConfirmationDesktop {
  width: 400px;
}
