$margin-x: 0%;
$gap: 16px;
$width: 70%;

.imgsContainer {
  display: flex;
  gap: $gap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 10px 16px 0;

  .imgItem {
    scroll-snap-align: center;
    min-width: calc($width - $margin-x);
    max-width: calc($width - $margin-x);
    width: calc($width - $margin-x);
  }
}
