.facebookSigninContainer {
  margin: 0;

  .innerContent {
    min-width: 210px;
  }

  .icon {
    max-height: 22px !important;
    max-width: 22px !important;
    margin: 0 8px 0 0 !important;
  }
}
