.refereeSchemesModalDesktop {
  width: 400px;
  overflow: auto;
}

.refereeSchemes {
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding-bottom: 70px;

  .title {
    padding: 0 8px;
    font-size: 14px;
    font-weight: var(--fontRegular);
    color: var(--color3E);
  }

  .schemes {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }
}

.refereeSchemesWithoutPrimaryButton {
  margin-top: 10px;
  padding-bottom: 0;
}

.primaryButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 10px rgb(0 0 0 / 8%);
  position: fixed;
  bottom: 0;
  background-color: var(--colorWhite);
  width: 100%;

  .primaryButton {
    margin: 13px 16px;
  }
}
