.inputField {
  padding-top: 0;
  margin-bottom: 3px;
}

.fieldErrorMobile {
  color: var(--colorWhite) !important;
}

.noDisplay {
  display: none;
}

.appleLoginContainerDesktop {
  display: flex;
  height: 44px;
  cursor: pointer;
}

.googleSigninContainerDesktop,
.facebookSigninContainerDesktop {
  display: flex;
  margin-bottom: 10px;
}

@mixin phoneView {
  color: var(--color20);
  text-align: center;
  font-size: 20px;
  font-weight: var(--fontRegular);
  margin-bottom: 30px;
}

.phoneViewDesktop {
  @include phoneView;
}

.phoneViewMobile {
  @include phoneView;

  color: var(--colorWhite);
}

@mixin alternateLink {
  display: block;
  color: var(--color20);
  text-align: center;
  font-size: 13px;
  font-weight: var(--fontBold);
  text-decoration-line: underline;
}

.alternateLinkDesktop {
  @include alternateLink;
}

.alternateLinkMobile {
  @include alternateLink;

  color: var(--colorWhite);
}
