.invitation {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: cover;
    background-position-y: center;

    .title1,
    .title2 {
      font-weight: var(--fontSemiBold);
      font-size: 18px;
      color: var(--color4D);
      align-self: center;
    }

    .highlight {
      background-color: var(--colorYellowLightest);
      border-radius: 8px;
      font-weight: var(--fontLight);
      font-size: 32px;
      color: var(--color20);
      align-self: center;
      height: 46px;
      padding: 0 12.5px;
      margin-top: 2px;

      span {
        font-weight: inherit;
        font-size: 18px;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px dashed var(--colorC5);
    border-top: none;

    .scoop {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      top: calc(50% - 15px);
      background-color: var(--colorEF);
    }

    .scoopLeft {
      border-right: 1px dashed var(--colorC5);
      left: -16px;
    }

    .scoopRight {
      border-left: 1px dashed var(--colorC5);
      right: -16px;
    }

    .referralAction {
      display: flex;
      flex-direction: column;
      margin: 13px 20px 20px;

      .title {
        align-self: center;
        font-weight: var(--fontSemiBold);
        font-size: 16px;
        color: var(--color20);
      }

      .referralCode {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 14px;
        border: 1px dashed var(--color9A);
        border-radius: 8px;
        padding: 10px 20px;
        cursor: pointer;

        &:active {
          opacity: 0.5;
        }

        .content {
          font-weight: var(--fontBold);
          font-size: 14px;
          line-height: 20px;
          color: var(--colorPrimary);
          margin: auto;
          word-break: break-all;
        }

        .copyButton {
          width: 20px;
          min-width: 20px;
          margin: 0 5px;
          height: 20px;

          svg {
            fill: var(--color8A);
          }
        }
      }
    }

    .promoInfo {
      margin: 7px 17px 10px;
      font-weight: var(--fontLight);
      font-size: 14px;

      .title {
        text-align: center;
        font-weight: inherit;
        font-size: inherit;

        span {
          font-weight: var(--fontSemiBold);
          font-size: inherit;
        }
      }

      .indications {
        font-weight: inherit;
        font-size: inherit;
        color: var(--color20);
        margin-top: 18px;
        list-style-type: disc;
        margin-left: 17px;

        .indication {
          font-weight: inherit;
          font-size: inherit;
          margin-top: 10px;

          span {
            font-weight: var(--fontSemiBold);
            font-size: inherit;
          }
        }
      }
    }

    .notes {
      margin: 8px 23px 28px 30px;
      font-weight: var(--fontLight);
      font-size: 14px;

      .title {
        text-align: center;
        font-weight: inherit;
        font-size: inherit;
      }

      .statements {
        margin-top: 7px;
        font-weight: inherit;
        font-size: inherit;

        .statement {
          margin-top: 7px;
          font-weight: inherit;
          font-size: inherit;
        }
      }
    }
  }
}

.invitationDesktop {
  .body {
    .referralAction {
      .referralCode {
        margin: 14px 10px 0;
      }

      .shareButton {
        width: initial;
        margin: 10px 28% 0;
      }
    }

    .promoInfo {
      margin: 7px 10% 10px;

      .title {
        text-align: left;
      }
    }

    .notes {
      margin: 8px 10% 28px;

      .title {
        text-align: left;
      }
    }
  }
}
