.container {
  width: 100%;
  margin-bottom: 20px;
}

.fixed {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: var(--zIndex5);
  background: var(--colorWhite);
}

.isDisplay {
  visibility: visible;
  opacity: 1;
}

.isFreePosition {
  top: auto;
  position: relative;
  opacity: 1;
  visibility: visible;
}
