.container {
  display: flex;
  flex-direction: column;
  background-color: var(--colorWhite);
  overflow: hidden;
  padding: 16px 20px 24px;

  .banner {
    width: 100%;
    padding-bottom: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .bottomSection {
    display: flex;
    flex-direction: column;

    .title {
      justify-self: center;
      margin-top: 12px;
      font-size: 14px;
      font-weight: var(--fontBold);
      color: var(--color20);
      height: 38px;
    }

    .subtitle {
      margin-top: 4px;
      font-size: 14px;
      font-weight: var(--fontBold);
      color: var(--colorPrimary);
    }

    .button {
      margin: 12px 0 0;
    }
  }
}
