.container {
  width: 100%;
  margin: 0 auto;
}

.accordion {
  border-left: none !important;
  border-right: none !important;

  &.mobile {
    padding: 0 16px;
    border: none;
  }

  div div {
    background: var(--colorWhite) !important;
    padding-left: 0 !important;
  }

  .contentDetail {
    padding: 0 10px !important ;
  }
}
