.submitButton {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: var(--fontBold);
  border-radius: 8px;
  transition: var(--transitionNormal);
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  z-index: var(--zIndex1);
  margin-top: 10px;
  margin-bottom: 20px;
  user-select: none;

  .overlay {
    transition: var(--transitionNormal);
    position: absolute;
    z-index: var(--zIndex1);
    width: 50%;
    height: 50%;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--colorWhite15);
  }

  &:hover {
    box-shadow: var(--shadow4);

    .overlay {
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  &:active {
    box-shadow: var(--shadow3);
    transform: translate3d(0, 1px, 0);
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: var(--zIndex9);
  }

  .reverseContent {
    flex-direction: row-reverse;
  }

  .innerContent {
    display: flex;
    align-items: center;
  }

  .submitIconSVG {
    max-width: 17px;
    max-height: 17px;
    margin: 0 10px;

    svg {
      fill: var(--color20);
    }
  }
}

.buttonNormal {
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
}

.buttonSmall {
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
}

.isLoading {
  opacity: 0.9;
  pointer-events: none;
  box-shadow: none;
}

.isDisabled {
  filter: grayscale(1);
  pointer-events: none;

  &.color-black {
    background: #d3d3d3 !important;
  }
}

.button-theme-pink {
  background-color: var(--colorPink);
  color: var(--colorWhite);

  svg {
    fill: var(--colorWhite) !important;
  }
}

.button-theme-red {
  background-color: var(--colorRed);
  color: var(--colorWhite);
}

.button-theme-green {
  background-color: var(--colorGreen);
  color: var(--colorWhite);
}

.button-theme-yellow {
  background-color: var(--colorYellow);
  color: var(--colorWhite);
}

.button-theme-white {
  background-color: var(--colorWhite);
  color: var(--color2E);
}

.button-theme-black {
  background-color: var(--colorBlack);
  color: var(--colorWhite);

  svg {
    fill: var(--colorWhite) !important;
  }
}

.button-theme-grey {
  background-color: var(--color3E);
  color: var(--colorWhite);
}

.button-theme-lightGrey {
  background-color: var(--colorF5);
  color: var(--colorBlack);
}

.button-theme-borderWhite {
  background-color: var(--colorWhite);
  border: 1px solid var(--color3E);
  color: var(--color2E);
}

.button-theme-borderBlack {
  background-color: var(--colorWhite);
  border: 1px solid var(--color20);
  color: var(--colorBlack);
}

.button-theme-borderGrey {
  background-color: var(--colorWhite);
  border: 1px solid var(--colorCC);
  color: var(--color2E);
}

.button-theme-borderLess {
  background-color: var(--colorWhite);
  border: 1px solid var(--colorF0);
  color: var(--color2E);
}

.button-theme-borderPink {
  background-color: var(--colorWhite);
  border: 1px solid var(--colorPink);
  color: var(--colorPink);
}

.button-theme-borderRed {
  background-color: var(--colorWhite);
  border: 1px solid var(--colorRed);
  color: var(--colorRed);
}

.button-theme-borderGreen {
  background-color: var(--colorWhite);
  border: 1px solid var(--colorGreen);
  color: var(--colorGreen);
}

.button-theme-facebook {
  background-color: var(--colorBrandFacebook);
  color: var(--colorWhite);
}

.button-theme-signin {
  background-color: var(--colorWhite);
  border: 1px solid var(--color20);
  color: var(--color20);
}

.button-theme-momo {
  background-color: var(--colorBrandMomo);
  color: var(--colorWhite);
}

.button-theme-borderMomo {
  border: 1px solid var(--colorBrandMomo);
  background-color: var(--colorWhite);
  color: var(--colorBrandomo);
}

.title {
  font-size: 14px;
  font-weight: var(--fontSemiBold);
}

.titleSmall {
  font-size: 13px;
  font-weight: var(--fontRegular);
}

.titleBold {
  font-weight: var(--fontBold);
}

.loader {
  transform: scale(0.55);
  height: 50px;
  width: 50px;
  min-width: 50px;
  opacity: 0.75;
}
