.redeemSampleModal {
  .body {
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .primaryButton {
    // TODO: Remove `important`. Dependency: SubmitButton (inline style removal required)
    background-color: var(--color3E) !important;
  }
}
